<ion-content>
  <div class="container">
    <div class="top" *ngIf="film !== undefined">
      <ion-text color="primary">
        <h2 class="title">{{truncStr(film.original_title, 22)}} ({{film.release_date.split('-')[0]}})</h2>
      </ion-text>
      <div class="poster-container">
        <ion-img class="poster" [src]="(filmImage)"></ion-img>
      </div>
      <div class="details-container">
        <ion-text color="medium"><p>{{ filmGenres.join(", ") }}</p></ion-text>
        <ion-text color="medium" *ngIf="film.tagline !== ''"><h5 class="ion-no-margin">{{ film.tagline }}</h5></ion-text>
        <div class="description-container">
          <div><p class="description">{{ film.overview }}</p></div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="buttons">
        <ion-grid class="ion-no-margin">
          <ion-row>
            <ion-col>
              <ion-button class="btn" expand="block" (click)="pressRandom()">Random Film</ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button class="btn" expand="block" (click)="pressFiltersButton()"><ion-icon name="flask"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="filters-modal" *ngIf="filtersModalOpened">
      <div class="filters-back" (click)="pressFiltersButton()">
        <ion-icon class="filters-back__icon" name="arrow-round-back"></ion-icon>
      </div>
      <div class="filters-container">
        <div class="filters-header ion-no-padding" (click)="pressFilters()">
          <ion-text color="primary"><h1> Filters </h1></ion-text>
        </div>
        <div class="filters-scroll">
          <div class="filters">
            <ion-grid>
              <div class="filter">
                <ion-row>
                  <ion-col>            
                    <div class="filter-name" (click)="pressFilter(0)"><ion-checkbox class="filter-checkbox" [checked]="filterActiveArr[0]"></ion-checkbox><h4> Release Year </h4></div>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="filterActiveArr[0]">
                  <ion-col>
                    <div class="filter-option-container">
                      <div class="filter-option-decorator"><div class="filter-option-decorator__pointer"></div></div>
                      <ion-text class="filter-option-text">From</ion-text><ion-button color="dark" class="filter-option-button" (click)="showPicker('years')">{{ filters[0][0] }}</ion-button>
                      <ion-text class="filter-option-text">To</ion-text><ion-button color="dark" class="filter-option-button" (click)="showPicker('years')">{{ filters[0][1] }}</ion-button>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              <div class="filter">
                <ion-row>
                  <ion-col>            
                    <div class="filter-name" (click)="pressFilter(1)"><ion-checkbox class="filter-checkbox" [checked]="filterActiveArr[1]"></ion-checkbox><h4> Vote Average </h4></div>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="filterActiveArr[1]">
                  <ion-col>
                    <div class="filter-option-container">
                      <div class="filter-option-decorator"><div class="filter-option-decorator__pointer"></div></div>
                      <ion-text class="filter-option-text">From</ion-text><ion-button color="dark" class="filter-option-button" (click)="showPicker('votes')">{{ filters[1][0] }}</ion-button>
                      <ion-text class="filter-option-text">To</ion-text><ion-button color="dark" class="filter-option-button" (click)="showPicker('votes')">{{ filters[1][1] }}</ion-button>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              <div class="filter">
                <ion-row>
                  <ion-col>            
                    <div class="filter-name" (click)="pressFilter(2)"><ion-checkbox class="filter-checkbox" [checked]="filterActiveArr[2]"></ion-checkbox><h4> Age Certification </h4></div>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="filterActiveArr[2]">
                  <ion-col>
                    <div class="filter-option-container">
                      <div class="filter-option-decorator"><div class="filter-option-decorator__pointer"></div></div>
                      <ion-text class="filter-option-text">From</ion-text><ion-button color="dark" class="filter-option-button" (click)="showPicker('califications')">{{ filters[2][0] }}</ion-button>
                      <ion-text class="filter-option-text">To</ion-text><ion-button color="dark" class="filter-option-button" (click)="showPicker('califications')">{{ filters[2][1] }}</ion-button>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              <div class="filter">
                <ion-row>
                  <ion-col>
                    <div class="filter-header">
                      <div class="filter-name"><h4> Genres </h4></div>
                      <div class="filter-selectAll" *ngIf="!deselectAll" (click)="setAllGenres(true)"><h5>Select All</h5></div>
                      <div class="filter-selectAll" *ngIf="deselectAll" (click)="setAllGenres(false)"><h5>Deselect All</h5></div>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="genres !== undefined">
                  <ion-col>
                    <div class="filter-option-container--alwaysVisible">
                      <div class="genres-container">
                        <div class="genre" *ngFor="let genre of genres; index as i" (click)="pressGenre(i)">
                          <ion-checkbox class="filter-checkbox" [checked]="selectedGenres[i]"></ion-checkbox><h5> {{ genre.name }} </h5>
                        </div>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-grid>
          </div>
        </div>
      </div>
    </div>
    <div class="filters-backdrop" *ngIf="filtersModalOpened"></div>
  </div>
</ion-content>
