<ion-content *ngIf="film !== undefined && cast !== undefined">
  <div class="all-container">
    <div class="backdrop-container" *ngIf="backdropUrl !== null">
      <ion-img [src]="(backdropUrl)"></ion-img>
    </div>
    <div class="details-container">
      <div class="backdrop-gradient"></div>
      <div id="title" class="title-container" [class.title-container--sticky-shadow]="titleSticky">
        <ion-text color="primary">
          <h2 class="title">{{ film.original_title }}</h2>
        </ion-text>
        <div class="favorite-container">
          <ion-icon class="favorite-icon" name="bookmark" color="light" *ngIf="seenState === 0" (click)="setFilmState(1)"></ion-icon>
          <ion-icon class="favorite-icon" name="bookmark" color="primary" *ngIf="seenState === 1" (click)="setFilmState(2)"></ion-icon>
          <ion-icon class="favorite-icon" name="eye" color="primary" *ngIf="seenState === 2" (click)="setFilmState(0)"></ion-icon>
        </div>
      </div>      
      <div class="details-header">
        <ion-text class="text-line" color="secondary">
          <h4 class="ion-no-margin subtitle--big" *ngIf="film.runtime !== ''">{{ film.runtime }} min.</h4>
        </ion-text>
        <ion-text color="medium">
          <h5 class="ion-no-margin subtitle">{{ filmGenres.join(", ") }}</h5>
        </ion-text>
        <ion-text color="medium">        
          <h5 class="ion-no-margin subtitle">{{ film.release_date.split('-')[0] }}</h5>
        </ion-text>
      </div>
      <div class="description-container">
        <div><p class="description">{{ film.overview }}</p></div>
      </div>
      <div class="directors-container">
        <ion-text class="text-line" color="secondary">
          <h4 class="subtitle--big">Director/s:</h4>
        </ion-text>
        <ion-text class="text-line" color="dark" [routerLink]="['/details-director', director.id]">
          <h4 class="subtitle subtitle-margin">{{ director.name }}</h4>
        </ion-text>
      </div>
      <ion-text class="text-line" color="secondary">
        <h4 class="ion-no-margin subtitle--big">Cast:</h4>
      </ion-text>
      <div class="cast-container">
        <div class="cast">
          <div class="actor" *ngFor="let actor of cast; index as i">
            <img class="actor__image" [src]="getActorImageUrl(i)" *ngIf="hasActorImage(i)" [routerLink]="['/details-actor', actor.id]"/>
            <ion-icon name="person" class="actor__image--null" color="light" *ngIf="!hasActorImage(i)"></ion-icon>
            <ion-text class="text-line" color="dark">
              <h5 class="ion-no-margin subtitle">{{ actor.character }}</h5>
            </ion-text>
            <ion-text color="medium">        
              <h5 class="ion-no-margin subtitle">{{ actor.name }}</h5>
            </ion-text>
          </div>
        </div>
      </div>
      <ion-text class="text-line" color="secondary" *ngIf="similarFilms.length !== 0">
        <h4 class="ion-no-margin subtitle--big">Similar Films:</h4>
      </ion-text>
      <div class="similar-films-container" *ngIf="similarFilms.length !== 0">
        <div class="similar-film" *ngFor="let film of similarFilms; index as i">
          <img class="similar-film__image" [src]="getSimilarFilmPoster(i)" [routerLink]="['/details-film', film.id]"/>
        </div>
      </div>
    </div>
  </div>
</ion-content>
