<ion-content *ngIf="results !== undefined">
  <div class="container">
    <div class="bottom">
      <div class="bottom-gradient"></div>
      <div class="pages-container">
        <div class="icon-container icon-container--left" (click)="pressArrow('l')" *ngIf="currentPage !== 1"><ion-icon class="icon" name="arrow-back" color="medium"></ion-icon></div>
        <ion-text color="dark"><h5 class="ion-no-margin">{{ currentPage }}</h5></ion-text>
        <div class="icon-container icon-container--right" (click)="pressArrow('r')" *ngIf="this.currentPage !== this.currentMaxPages"><ion-icon class="icon" name="arrow-forward" color="medium"></ion-icon></div>
      </div>
      <div class="search-type-selector">
        <div class="search-type search-type__sortby" (click)="searchType = 0" [class.search-type--selected]="searchType === 0">
          <ion-text color="dark"><h5 class="ion-no-margin">Sort By</h5></ion-text>
        </div>
        <div color="tertiary" class="search-type search-type__search" (click)="searchType = 1" [class.search-type--selected]="searchType === 1">
          <ion-text color="light"><h5 class="ion-no-margin">Search</h5></ion-text>
        </div>
      </div>
    </div>
    <div class="top">
      <div class="sortby-tab" *ngIf="searchType === 0">
        <div class="genres-option-backdrop" *ngIf="genresContainerOpened" (click)="setGenresOpened()"></div>
          <div class="genres-container-parent" *ngIf="genresContainerOpened">
            <div class="genres-ok">
              <ion-button color="primary" size="small" class="genres-ok-button" (click)="pressGenresOkayButton()"> Done </ion-button>
            </div>
            <div class="genres-option-container">
              <div class="genres-container">
                <div class="genre" *ngFor="let genre of genres; index as i" (click)="pressGenre(i)">
                <ion-checkbox class="genre-checkbox" [checked]="selectedGenres[i]"></ion-checkbox><h5> {{ genre.name }} </h5>
              </div>
            </div>
          </div>              
        </div>
        <div class="sortby-buttons">
          <div class="sortby-button-container">
            <ion-icon class="sortby-button-close" name="close" color="danger" *ngIf="filtersActive[0]" (click)="pressGenresButton()"></ion-icon>
            <ion-button color="danger" size="small" class="sortby-button" [class.sortby-button--active]="filtersActive[0]" (click)="pressGenresButton()"> Genres </ion-button>
          </div>
          <div class="sortby-button-container">
            <ion-icon class="sortby-button-close" name="close" color="danger" *ngIf="filtersActive[1]" (click)="pressDatesButton()"></ion-icon>
            <ion-button color="danger" size="small" class="sortby-button" [class.sortby-button--active]="filtersActive[1]" (click)="pressDatesButton()"> Dates </ion-button>
          </div>
          <div class="sortby-button-container">
            <ion-icon class="sortby-button-close" name="close" color="danger" *ngIf="filtersActive[2]" (click)="pressSortByButton()"></ion-icon>
            <ion-button color="danger" size="small" class="sortby-button" [class.sortby-button--active]="filtersActive[2]" (click)="pressSortByButton()"> Sort By </ion-button>
          </div>
        </div>
      </div>
      <div class="search-tab" *ngIf="searchType === 1">
        <ion-searchbar placeholder="Search Films" (ionInput)="inputChange($event)" (ionClear)="inputChange($event)"></ion-searchbar>
      </div>
    </div>
    <div class="results">
      <div class="zeroResults" *ngIf="noResults">
        <ion-text color="medium"><h5 class="ion-no-margin">Nothing has been found...</h5></ion-text>
      </div>
      <div class="films-container">
        <div class="film" *ngFor="let film of results; index as i">
          <img class="film__image" [src]="getFilmPoster(i)" [routerLink]="['/details-film', film.id]"/>
        </div>
      </div>
    </div>
  </div>
</ion-content>
