<ion-content *ngIf="filmsArrs[0] !== undefined && filmsArrs[1] !== undefined && filmsArrs[2] !== undefined">
  <div class="container">
    <div class="tabs">
      <div class="tab" (click)="presstab(slides, 0)" [class.tab--selected]="tabSelected===0">
        <div class="tab-icon-container">
          <ion-icon class="tab-icon" name="bookmark" color="medium" *ngIf="tabSelected!==0"></ion-icon>
          <ion-icon class="tab-icon" name="bookmark" color="primary" *ngIf="tabSelected===0"></ion-icon>
        </div>
        <ion-label> {{ 'myfilms.saved' | translate }} </ion-label>
      </div>
      <div class="tab" (click)="presstab(slides, 1)" [class.tab--selected]="tabSelected===1">
        <div class="tab-icon-container">
          <ion-icon class="tab-icon" name="eye" color="medium" *ngIf="tabSelected!==1"></ion-icon>
          <ion-icon class="tab-icon" name="eye" color="primary" *ngIf="tabSelected===1"></ion-icon>
        </div>
        <ion-label> {{ 'myfilms.seen' | translate }} </ion-label>
      </div>
      <div class="tab" (click)="presstab(slides, 2)" [class.tab--selected]="tabSelected===2">
        <div class="tab-icon-container">
          <ion-icon class="tab-icon" name="heart" color="medium" *ngIf="tabSelected!==2"></ion-icon>
          <ion-icon class="tab-icon" name="heart" color="primary" *ngIf="tabSelected===2"></ion-icon>
        </div>
        <ion-label> {{ 'myfilms.favorites' | translate }} </ion-label>
      </div>
    </div>
    <ion-slides pager="false" class="slides" (ionSlideDidChange)="slideChange(slides)" #slides>
      <ion-slide *ngFor="let filmsArr of filmsArrs; index as index">
        <div class="content">
          <div class="cards-container">
            <div class="zeroResults" *ngIf="filmsArr.length===0">
              <ion-text color="medium"><h5 class="ion-no-margin">{{ 'myfilms.empty' | translate }}</h5></ion-text>
            </div>
            <div class="film-card" *ngFor="let film of filmsArr; index as i" [routerLink]="['/details-film', film.id]">
              <div class="film-poster">
                <ion-img class="film-poster__img" [src]="getFilmPoster(film.poster_path)"></ion-img>
              </div>
              <div class="film-details">
                <ion-text color="primary">
                  <h2 class="film-title ion-no-margin">{{ truncStr(film.title, 16) }}</h2>              
                </ion-text>
                <ion-text color="medium"><h5 class="ion-no-margin film-tagline">{{ film.runtime }} min.</h5></ion-text>
                <div><p class="film-description">{{ truncStr(film.overview, 210) }}</p></div>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
