<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon name="search" class="tab-icon"></ion-icon>
      <!-- <ion-label>{{ 'nav.search' | translate }}</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="random">
      <ion-icon name="film" class="tab-icon tab-icon__big"></ion-icon>
      <!-- <ion-label>{{ 'nav.random' | translate }}</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="myfilms">
      <ion-icon name="filing" class="tab-icon"></ion-icon>
      <!-- <ion-label>{{ 'nav.myfilms' | translate }}</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
