<ion-content *ngIf="director !== undefined && directorImages !== undefined && directorFilms !== undefined">
  <div class="all-container">
    <div class="details-container">
      <div class="top-details-container">
        <div class="top-detail-image">
          <img class="main-image" [src]="getActorMainImageUrl()"/>
        </div>
        <div class="top-detail-data">
          <ion-text color="primary">
            <h2 class="ion-no-margin director-name">{{ director.name }}</h2>
          </ion-text>
          <ion-text class="text-line" color="dark">
            <h4 class="ion-no-margin subtitle--big" *ngIf="director.deathday !== null">{{ director.birthday.split('-')[0] }} - {{ director.deathday.split('-')[0] }}</h4>
            <h4 class="ion-no-margin subtitle--big" *ngIf="director.deathday === null">{{ getActorAge() }} {{ 'persondetails.years' | translate }}</h4>
          </ion-text>
          <ion-text class="text-line" color="medium">
            <h4 class="ion-no-margin subtitle">{{ director.place_of_birth }}</h4>
          </ion-text>
          <div class="popularity-container">
            <ion-text class="text-line" color="medium">
              <h4 class="ion-no-margin subtitle">{{ 'persondetails.popularity' | translate }}: {{ director.popularity }}</h4>
            </ion-text>
          </div>
        </div>
      </div>
      <div>
        <ion-text class="text-line" color="secondary">
          <h4 class="ion-no-margin subtitle--big">{{ 'persondetails.biography' | translate }}: </h4>
        </ion-text>
      </div>
      <div class="biography-container">
        <div class="biography"><p class="biography__text">{{ director.biography }}</p></div>
      </div>
      <div class="photos-container">
        <div class="image-container" *ngFor="let image of directorImages; index as i">
          <img class="director-image" [src]="getActorImageUrl(i)"/>
        </div>
      </div>
      <div>
        <ion-text class="text-line" color="secondary">
          <h4 class="ion-no-margin subtitle--big">{{ 'persondetails.films' | translate }}: </h4>
        </ion-text>
      </div>
      <div class="director-films-container">
        <div class="director-film" *ngFor="let film of directorFilms; index as i">
          <img class="director-film__image" [src]="getFilmPoster(i)" *ngIf="hasFilmPoster(i)" [routerLink]="['/details-film', film.id]"/>
        </div>
      </div>
    </div>
  </div>
</ion-content>
